<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>projects</title>
  </head>
  <body>
    <h1 id="project-info">{{project.ptitle}}</h1>
    <h3>{{project.pyear}}</h3>
    <img src="{{project.purl}}" alt="{{project.purl}}" id="pid-img" />
    <p>{{project.ptype}}</p>

  </body>
</html>