    <h1 id="proj-header">projects</h1>
    {{#if session.isAdmin}}
      <p><a class="addNewBtn" href="/project/add/new">ADD NEW +</a></p>
    {{/if}}
    <div class="project-container">
      {{#each projects}}
        <div class="object">

          <a href="/project/{{pid}}"><img
              src="{{purl}}"
              alt="{{purl}}"
              class="proj-img"
            /></a>
        </div>
        <div class="objectInfo">
          <h3 id="pname">{{ptitle}} </h3>
          <p id="ptype">{{ptype}}</p>
          <p id="skill"> Skills used: {{this.skills}} </p>
          <a href="/project/{{pid}}"><p>READ MORE</p></a>
          {{#if ../session.isAdmin}}
          <div class="modify">
            <a href="/project/modify/{{pid}}" class="addNewBtn">MODIFY</a>
            <a href="/project/delete/{{pid}}" class="addNewBtn">DELETE</a>
          </div>
          {{/if}}
        </div>
      {{/each}}


    </div>
    <div class="pagination">

    {{#if prevPage}}
    <a class="addNewBtn" href='/projects?page={{prevPage}}'>Previous</a>
    {{/if}}
    {{#if nextPage}}
    <a class="addNewBtn" href='/projects?page={{nextPage}}'>Next</a>
    {{/if}}
    </div>
